.category-block ul {
    list-style: none;
}
.category-block h3 {
    margin-top: 0;
}
.category-block ul li {
    border-bottom: 1px dashed lightgray;
    margin-bottom: 3px;
    padding-bottom: 3px;
    line-height: 35px;
}
.category-block ul li.entry {
    cursor: pointer;
}
.category-block ul li.adder button {
    margin-top: 5px;
}
.category-block ul li button.btn {
    float: right;
}
.container.import .import-btn {
    margin-top: 5px;
}
.container.import .alert {
    margin-top: 25px;
}
.records-block ul {
    list-style: none;
    padding: 0;
}
.records-block ul li.entry {
    border-bottom: 1px dashed lightgray;
    margin-bottom: 3px;
    padding-bottom: 3px;
    line-height: 35px;
}
.records-block ul li.entry span.depense {
    font-weight: bold;
    color: red;
}
.records-block ul li.entry span.revenue {
    font-weight: bold;
    color: green;
}
.records-block .records-list {
    cursor: pointer;
}
.container-fluid.home .infos a {
    cursor: pointer;
}
.container-fluid.home ul {
    list-style: none;
    padding: 0;
}
.container-fluid.home ul li.entry {
    border-bottom: 1px dashed lightgray;
    margin-bottom: 3px;
    padding-bottom: 3px;
    line-height: 35px;
}
.container-fluid.home span.depense {
    font-weight: bold;
    color: red;
}
.container-fluid.home span.revenue {
    font-weight: bold;
    color: green;
}
.container-fluid.home {
    padding-left: 10% !important;
    padding-right: 10% !important;
}
.no-data {
    color: gray;
    font-style: italic;
}
.login {
    margin-top: 15px;
    margin-right: 5px !important;;
}