<div class="container home">
    <div class="col-md-12 row infos">
        <h2>Entrée du mois : {{months[monthlyResponse.month]}} ({{monthlyResponse.records.length}} entrées)</h2>
        <a ng-click="viewPastMonth()" >Aller au mois précédent</a>
        <a ng-click="viewNextMonth()" ng-if="pastMonths > 1" >Revenir au mois de {{months[monthlyResponse.month + 1]}}</a>
    </div>
    <div class="col-md-12" ng-if="monthlyResponse.records.length > 0">
        <h2>Dépenses</h2>
        <canvas id="bar-outcome" class="chart chart-bar"
                chart-data="dataOutcomes" chart-labels="labels" chart-click="viewOutcomesDetails">
        </canvas>
        <h2>Revenue</h2>
        <canvas id="bar-income" class="chart chart-bar"
                chart-data="dataIncomes" chart-labels="labels" chart-click="viewIncomesDetails">
        </canvas>
    </div>
    <div class="col-md-12" ng-if="selectedCategory !== false">
        <h2>Détails des entrées pour la catégoie : {{selectedCategoryLabel}} (<span ng-class="{'revenue':selectedCategorySum.indexOf('-') == -1, 'depense':selectedCategorySum.indexOf('-') > -1}">{{selectedCategorySum}}</span>)</h2>
        <ul>
            <li class="entry col-md-6" ng-repeat="record in selectedCategoryValues | orderBy:'date'" ng-if="record.category === selectedCategory">
                <span>{{record.date | date:'dd/MM/yyyy'}}</span>
                <span><b>{{record.label}}</b></span>
                <span>{{record.type | uppercase}}</span>
                <span ng-class="{'revenue':record.value > 0, 'depense':record.value < 0}">{{record.value}} €</span>
                <span>{{record.category | categoryName:this}}</span>
            </li>
        </ul>
    </div>
</div>