<div class="records-block col-md-12">
    <ul class="col-md-12">
        <li class="col-md-12" ng-repeat="year in years">
            <h2>Année {{year}} :</h2>
            <ul class="col-md-12">
                <li class="col-md-12" ng-repeat="month in months">
                    <ul class="col-md-12" ng-if="records[year][month].length > 0">
                        <li><h3>{{month}}</h3></li>
                        <li class="entry col-md-6" ng-repeat="record in records[year][month] | orderBy:'date'">
                            <div class="col-md-8">
                                <span>{{record.date | date:'dd/MM/yyyy'}}</span>
                                <span><b>{{record.label}}</b></span>
                                <span>{{record.type | uppercase}}</span>
                                <span ng-class="{'revenue':record.value > 0, 'depense':record.value < 0}">{{record.value}} €</span>
                                <span>{{record.category | categoryName:this}}</span>
                            </div>
                            <select class="col-md-2" ng-change="updateCategory(record)" ng-model="record.category" ng-options="category.id as category.label for category in categories" ng-selected="category.id === record.category"></select>
                            <button type="button" ng-click="removeRecord($index)" class="col-md-2 btn btn-danger">Supprimer</button>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>